google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
openai-whisper
python-dotenv
librosa
scipy
numpy
soundfile
sshtunnel
pymysql
pydub
# -e git+https://github.com/pyannote/pyannote-audio.git@develop#egg=pyannote.audio
git+https://github.com/m-bain/whisperx.git
torch==2.0.0 
torchvision==0.15.1 
torchaudio==2.0.1
typer[all]
scp